.triangle {
    position: relative;
    background: #fff;
    height: 5vh;
  }
  
  .triangle::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 31px 60px 0 60px;
    border-color: #fff transparent transparent transparent;
    left: 50%;
    transform: translateX(-50%) translateY(100%);
  }

  .triangleup {
    position: relative;
    background: #1d4ed8;
    height: 1vh;
  }
  
  .triangleup::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 60px 31px 60px;
    border-color: transparent transparent #fff transparent;
    left: 50%;
    transform: translateX(-50%);
  }


  .maskwatermark {
    position: relative;
    background: transparent;
    height: 4vh;
  }
  
  .maskwatermark::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    border-style: solid;
    background: white;
    height: 50px;
    transform: translateY(-30px); 
  }

  .translateYcustom {
    transform: translateY(-50px);
  }

  .customShapeDividerTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  }

  .customShapeDividerTop svg {
      position: relative;
      display: block;
      width: calc(300% + 1.3px);
      height: 200px;
      fill: #FFFFFF;
  }

  .customShapeDividerBottom {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      overflow: hidden;
      line-height: 0;
      transform: rotate(180deg);
  }

  .customShapeDividerBottom svg {
      position: relative;
      display: block;
      width: calc(171% + 1.3px);
      fill: #FFFFFF;
      height: 150px;
  }

  .customTriangledividerTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.customTriangledividerTop svg {
    position: relative;
    display: block;
    width: calc(103% + 1.3px);
    height: 33px;
    fill: #FFFFFF;
}

   

